n8n/workflow-token-refresh.json
{
  "name": "GMB - Token Yenileme Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 6 }]
        }
      },
      "id": "schedule-trigger",
      "name": "Her 6 Saatte Bir",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, gmb_refresh_token FROM firms WHERE is_active = true AND gmb_refresh_token IS NOT NULL"
      },
      "id": "get-firms",
      "name": "Token'lı Firmaları Çek",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300],
      "credentials": { "postgres": { "id": "supabase-pg", "name": "Supabase PostgreSQL" } }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem"
      },
      "id": "loop-firms",
      "name": "Her Firma İçin",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "client_id", "value": "={{ $env.GOOGLE_CLIENT_ID }}" },
            { "name": "client_secret", "value": "={{ $env.GOOGLE_CLIENT_SECRET }}" },
            { "name": "refresh_token", "value": "={{ $json.gmb_refresh_token }}" },
            { "name": "grant_type", "value": "refresh_token" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "refresh-token",
      "name": "Token Yenile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-token",
              "leftValue": "={{ $json.access_token }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "token-ok",
      "name": "Token Geldi mi?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE firms SET gmb_access_token = '{{ $json.access_token }}' WHERE id = '{{ $('Her Firma İçin').item.json.id }}'"
      },
      "id": "save-token",
      "name": "Yeni Token'ı Kaydet",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1340, 200],
      "credentials": { "postgres": { "id": "supabase-pg", "name": "Supabase PostgreSQL" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE firms SET gmb_access_token = NULL WHERE id = '{{ $('Her Firma İçin').item.json.id }}'"
      },
      "id": "clear-token",
      "name": "Token'ı Temizle (Bağlantı Koptu)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1340, 400],
      "credentials": { "postgres": { "id": "supabase-pg", "name": "Supabase PostgreSQL" } }
    }
  ],
  "connections": {
    "Her 6 Saatte Bir": { "main": [[{ "node": "Token'lı Firmaları Çek", "type": "main", "index": 0 }]] },
    "Token'lı Firmaları Çek": { "main": [[{ "node": "Her Firma İçin", "type": "main", "index": 0 }]] },
    "Her Firma İçin": { "main": [[{ "node": "Token Yenile", "type": "main", "index": 0 }]] },
    "Token Yenile": { "main": [[{ "node": "Token Geldi mi?", "type": "main", "index": 0 }]] },
    "Token Geldi mi?": {
      "main": [
        [{ "node": "Yeni Token'ı Kaydet", "type": "main", "index": 0 }],
        [{ "node": "Token'ı Temizle (Bağlantı Koptu)", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-05-23T00:00:00.000Z",
  "versionId": "1"
}
